body{
    background-color: #f6e9f6;
    justify-content: center;
    height: 100vh;
    margin: 0;
    z-index: -1;
}
ul{
    margin-top: 10px;
}
.cadastro{
    margin-right: 10px;
    background-color: #863b67;
    color: white;
    border-radius: 40px;
}
i{
    font-size: 18px;
    color: black;
}
.menu{
    z-index: 2;
    padding: 0;
    margin: 0;
}